{% extends 'layout.html' %}
{% block body %}
  <div class=semester>
    <h1>{{ season }}{{ year }}</h1>
  </div>
  <form action="#" method=POST class=add_course>
    <dl>
      <dt>Name:
      <dd><input type=text size=30 name=course_name>
      <dt>Instructor:
        <input type=text size=30 name=instructor>
      <dd><input type=submit value=Add>
    </dl>
  </form>
  <div class=courses>
  {% for course in courses %}
    <li><h2>{{ course.name }},{{ course.instructor }}</h2></li>
  {% endfor %}
  <a href="#">Add another course</a>
  </div>
{% endblock %}
