{% extends 'layout.html' %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_semester') }}" method=post class=add-semseter>
			<dl>
				<dt>Season:
				<dd><input type=text size=6 name=season>
				<dt>Year:
					<input type=text size=4 name=year>
				<dd><input type=submit value=Share>
			</dl>
		</form>
	{% endif %}
	<ul class=semesters>
	{% for semester in semesters %}
		<li><h2>{{ semester.season }}{{ semester.year }}</h2>
	{% else %}
		<li><em>No semesters created so far :(</em>
	{% endfor %}
	</ul>
{% endblock %}
