{% extends 'layout.html' %}
{% block body %}
<div class=courses>
  <h2> your grades for {{ course.name }}, taught by {{ course.instructor }}.</h2>
  <br>
  <div class=course-report>
    <span>Course summary for categories:</span>
    <ul>
    {% for category in category_avgs %}
      <h4>{{ category.name }} (weighted: {{ category.weight }})</h4>
      <li>Total earned points: {{ category_avgs[category][0] }}</li>
      <li>Total points possible: {{ category_avgs[category][1] }}</li>
    {% endfor %}
    </ul>
  </div>
  <form action="{{ url_for('add_grade',course_id=course.id) }}" method=post class=add-assignment>
    <h3>New Assignment</h3>
    <dl>
      <dt>Title:
      <dd><input type=text size=30 name=title>
      <dt>Points Earned:
      <dd><input type=text size=30 name=points_earned>
      <dt>Total Points:
      <dd><input type=text size=30 name=total_points>
      <dd><input type=submit value="Add assignment">

    <select name="category_id">
      {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}: {{ category.weight }}</option>
      {% endfor %}
    </select>
    </dl>
    {{ form.csrf_token }}
  </form>
  <a href="{{ url_for('compute',course_id=course.id) }}">Compute Grade</a><br>
  <a href="{{ url_for('category',course_id=course.id) }}">Add New Category</a>
  <h4>Assignments for this course</h4>
  {% for a in assignments %}
    <div class=assignment>
      <span class=assignment-name> {{ a.title }}</span>
      {{ a.name }}:
      {{ a.earned_points }}/{{ a.total_points }}
      {{ a.category }}
      <a href="{{ url_for('assignment', course_id=course.id, assignment_id=a.id) }}">edit</a>
    </div>
  {% endfor %}
</div>
{% endblock %}
