<!DOCTYPE html>
<head>
	<!-- http://www.giantflyingsaucer.com/blog/?p=4310 -->
		<title>Flaskcard</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<script type=text/javascript> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
	<h1> Flaskcard </h1>
	<div class=metanav>
	{% if not g.user.is_authenticated %}
		<a href="{{ url_for('login') }}">log in</a>
		<a href="{{ url_for('register') }}">new user?</a>
	{% else %}
		<a href="{{ url_for('semesters') }}">go back</a>
		<a href="{{ url_for('logout') }}">log out</a>
	{% endif %}
	</div>
	{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
	{% endfor %}
	{% block body %}
	{% endblock %} <!-- This will be where we put content -->
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</html>
