{% extends 'layout.html' %}
{% block body %}
  <h2>your courses for {{ semester.season.lower() }} {{ semester.year }}</h2>
  <div class=courses>
    <h3>Current courses created:</h3>
    <ul>
      {% for course in semester.courses %}
      <!-- Why can we just call the field semester.courses in Jinja, but in the controller we have to do semester.courses.all? -->
        <li><h2>{{ course.name }}<br></li></h2>
        <ol>Instructor: {{ course.instructor }}</ol>
        <ol><a href="{{ url_for('course', course_id=course.id) }}">see course grades</a></ol>
      {% endfor %}
    </ul>
  </div>
  <hr>
  <h3>Create a new course</h3>
  <form class="extendable-form" action="{{ url_for('semester') }}" method=post class=add_course>
    <p>
      <label>Course name:</label>
      <input type=text name=name>
    </p>
    <p>
      <label>Instructor: </label>
      <input type=text name=instructor>
    </p>
    <input type=submit value='Done with course creation'><br><br>
    <input type=hidden name=year value="{{ semester.year }}">
    <input type=hidden name=season value="{{ semester.season }}">
    <input type=hidden name=semester_id value="{{ semester.id }}">
    {{ form.csrf_token }}
    <div class="extendable-field" name="extendable-1">
      <p>
        <label>Category Name: </label>
        <input type="text" name="category-1"/>
        <input type="button" value="+ Add category" id="extendable"/>
      </p>
      <p>
        <label>Weight: </label>
        <input type="text" name="weight-1"/>
      </p>
      <br>
    </div>
  </form>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
