{% extends 'layout.html' %}
{% block body %}
  <h2>your courses for {{ semester.season }} {{ semester.year }}.</h2>
  <div class=courses>
    <h3>Courses:</h3>
    <ul>
      {% for course in courses %}
        <li><h2>{{ course.name }}<br></li></h2>
        <ol>Instructor: {{ course.instructor }}</ol>
        <ol><a href="{{ url_for('course', course_id=course.id) }}">see course grades</a></ol>
      {% endfor %}
    </ul>
  </div>
  <form action="{{ url_for('add_course') }}" method=post class=add_course>
    <dl>
      <dt>Course Name:
      <dd><input type=text size=30 name=name>
      <dt>Instructor:
        <input type=text size=30 name=instructor>
      <dd><input type=submit value=Add>
      <dd><input type=hidden name=year value="{{ semester.year }}">
      <dd><input type=hidden name=season value="{{ semester.season }}">
      <dd><input type=hidden name=semester_id value="{{ semester.id }}">
    </dl>
  </form>
{% endblock %}
